<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Controls</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/core.css" rel="stylesheet" type="text/css">



</head>

<body>

    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>

            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                <li>
                    <a class="sidebar-mobile-main-toggle">
                        <i class="fa fa-align-justify" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse pd-0" id="navbar-mobile">
            <ul class="nav navbar-nav para-jus">
                <li>
                    <a class="sidebar-control sidebar-main-toggle hidden-xs">
                        <i class="fa fa-align-justify" aria-hidden="true"></i>

                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown user-message">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-comments-o"></i>

                        <span class="visible-xs-inline-block position-right">Messages</span>
                        <span class="badge bg-warning-400">2</span>
                    </a>

                    <div class="dropdown-menu dropdown-message dropdown-content width-350">
                        <div class="dropdown-content-heading">
                            Messages
                            <ul class="icons-list">
                                <li><a href="#"><i class="fa fa-pencil-square-o"></i></a></li>
                            </ul>
                        </div>

                        <ul class="media-list dropdown-content-body">
                            <li class="media">
                                <div class="media-left">
                                    <img alt="" class="img-circle img-sm" src="images/placeholder.jpg">
                                </div>

                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">James Alexander</span>
                                        <span class="media-annotation message-time">04:58</span>
                                    </a>

                                    <span class="text-muted message-description">who knows, maybe that would be the best thing for me...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <img alt="" class="img-circle img-sm" src="images/placeholder.jpg">

                                </div>

                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">Margo Baker</span>
                                        <span class="media-annotation message-time">12:16</span>
                                    </a>

                                    <span class="text-muted message-description">That was something he was unable to do because...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img alt="" class="img-circle img-sm" src="images/placeholder.jpg"></div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">Jeremy Victorino</span>
                                        <span class="media-annotation message-time">22:48</span>
                                    </a>

                                    <span class="text-muted message-description">But that would be extremely strained and suspicious...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img alt="" class="img-circle img-sm" src="images/placeholder.jpg"></div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">Beatrix Diaz</span>
                                        <span class="media-annotation message-time">Tue</span>
                                    </a>

                                    <span class="text-muted message-description">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left"><img alt="" class="img-circle img-sm" src="images/placeholder.jpg"></div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">Beatrix Diaz</span>
                                        <span class="media-annotation message-time">Tue</span>
                                    </a>

                                    <span class="text-muted message-description">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left"><img alt="" class="img-circle img-sm" src="images/placeholder.jpg"></div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">Beatrix Diaz</span>
                                        <span class="media-annotation message-time">Tue</span>
                                    </a>

                                    <span class="text-muted message-description">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left"><img alt="" class="img-circle img-sm" src="images/placeholder.jpg"></div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">Beatrix Diaz</span>
                                        <span class="media-annotation message-time">Tue</span>
                                    </a>

                                    <span class="text-muted message-description">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left"><img alt="" class="img-circle img-sm" src="images/placeholder.jpg"></div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">Beatrix Diaz</span>
                                        <span class="media-annotation message-time">Tue</span>
                                    </a>

                                    <span class="text-muted message-description">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>
                        </ul>

                        <div class="dropdown-content-footer">
                            <a title="" data-popup="tooltip" href="#" data-original-title="All messages"><i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i></a>
                        </div>
                    </div>
                </li>
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="images/placeholder.jpg" alt="">
                        <span>Victoria</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="fa fa-user"></i> My profile</a></li>
                        <li><a href="#"><i class="fa fa-money"></i> My balance</a></li>
                        <li><a href="#"><i class="fa fa-commenting"></i> Messages</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Account settings</a></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="page-container">

        <div class="page-content">

            <div class="sidebar sidebar-main">
                <div class="sidebar-content">


                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="#" class="media-left"><img src="images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">Victoria Baker</span>
                                    <div class="text-size-mini text-muted">
                                        <i class="fa fa-map-marker"></i> &nbsp;Santa Ana, CA
                                    </div>
                                </div>

                                <div class="media-right media-middle">
                                    <ul class="icons-list">
                                        <li>
                                            <a href="#"><i class="fa fa-cog"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content pd-0">
                            <ul class="navigation navigation-main navigation-accordion">

                                <li class="active"><a href="#"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>

                                <li><a href="#"><i class="fa fa-files-o"></i><span>Page layouts</span></a></li>

                                <li><a href="#"><i class="fa fa-file-o"></i><span>Layouts</span></a></li>

                                <li><a href="#"><i class="fa fa-adjust"></i><span>Color system</span></a></li>

                                <li>
                                    <a href="#"><i class="fa fa-clone"></i><span>Starter kit</span></a>
                                    <ul>
                                        <li><a href="#">Horizontal navigation</a></li>
                                        <li><a href="#">1 column</a></li>
                                        <li><a href="#">2 columns</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="content-wrapper">
                <h1 class="main-heading">
                    Welcome to the Admin Panel of Shaligram Infotech
                </h1>
                <div class="content-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <legend>DROPDOWNS</legend>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="dropdown">
                                <label for="inputlg">Project Type : </label>
                                <button class="btn full-width btn-default dropdown-toggle drop-dwn" type="button" data-toggle="dropdown">
                                    <p>Project Type</p>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="dropdown">
                                <label for="inputlg">Priority : </label>
                                <button class="btn full-width btn-default dropdown-toggle drop-dwn" type="button" data-toggle="dropdown">
                                    <p>Priority</p>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mt-25">
                                <legend>BUTTONS</legend>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-default mt-5">Default</button>
                            <button class="btn btn-blue mt-5" type="submit">button-blue</button>
                            <button class="btn btn-orange mt-5" type="submit">button-orange</button>
                            <button type="button" class="btn btn-primary mt-5">Primary</button>
                            <button type="button" class="btn btn-success mt-5">Success</button>
                            <button type="button" class="btn btn-warning mt-5">Warning</button>
                            <button type="button" class="btn btn-info mt-5">Info</button>
                            <button type="button" class="btn btn-danger mt-5">Danger</button>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mt-25">
                                <legend>CHECKBOX</legend>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="chekbox-main checkbox blue mr-20">
                                <input type="checkbox" id="checkbox1" />
                                <label for="checkbox1">blue</label>
                            </div>
                            <div class="chekbox-main checkbox blue mr-20">
                                <input type="checkbox" id="checkbox2" checked="checked" />
                                <label for="checkbox2">blue</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="chekbox-main checkbox orange mr-20">
                                <input type="checkbox" id="checkbox3" />
                                <label for="checkbox3">orange</label>
                            </div>
                            <div class="chekbox-main checkbox orange mr-20">
                                <input type="checkbox" id="checkbox4" checked="checked" />
                                <label for="checkbox4">orange</label>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mt-25">
                                <legend>RADIO BUTTONS</legend>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="radio-button blue-radio">
                                <input id="radio-1" class="radio-custom" name="radio-group" type="radio" checked>
                                <label for="radio-1" class="radio-custom-label">First Choice</label>

                                <input id="radio-2" class="radio-custom" name="radio-group" type="radio">
                                <label for="radio-2" class="radio-custom-label">Second Choice</label>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="radio-button orange-radio">
                                <input id="radio-3" class="radio-custom" name="radio-group1" type="radio" checked>
                                <label for="radio-3" class="radio-custom-label">First Choice</label>

                                <input id="radio-4" class="radio-custom" name="radio-group1" type="radio">
                                <label for="radio-4" class="radio-custom-label">Second Choice</label>
                            </div>
                        </div>


                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mt-25">
                                <legend>PAGINATION</legend>
                            </div>
                        </div>
                        <div class="col-sm-6 blue">
                            <ul class="pagination pull-left">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-6 blue-bold">
                            <ul class="pagination pull-left">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-6 orange">
                            <ul class="pagination pull-left">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-6 orange-bold">
                            <ul class="pagination pull-left">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mt-25">
                                <legend>TEXT-BOXES</legend>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label class="control-label" for="email">Name :</label>
                            <div class="txtin">
                                <input type="email" class="form-control" id="email" placeholder="Enter User Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>

                    </div>



                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mt-25">
                                <legend>FILE INPUT</legend>
                            </div>
                        </div>

                        <div class="col-sm-4 mb-5">
                            <div class="file-upld">
                                <div class="fileUpload btn btn-blue">
                                    <span>Upload</span>
                                    <input id="uploadBtn" type="file" class="upload" />
                                </div>
                                <input id="uploadFile" class="form-control upload-textbox" placeholder="Choose File" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-sm-4 mb-5">
                            <div class="file-upld">
                                <div class="fileUpload btn btn-orange">
                                    <span>Upload</span>
                                    <input id="uploadBtn1" type="file" class="upload" />
                                </div>
                                <input id="uploadFile1" class="form-control upload-textbox" placeholder="Choose File" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer text-muted">
        &copy; 2015. <a href="#">Shaligram Infotech</a> by <a href="#">Shaligram Infotech</a>
    </div>


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/custom-file-input.js"></script>
    <script type="text/javascript">
        document.getElementById("uploadBtn").onchange = function () {
            document.getElementById("uploadFile").value = this.value;
        };

        document.getElementById("uploadBtn1").onchange = function () {
            document.getElementById("uploadFile1").value = this.value;
        };
    </script>

</body>
</html>
