<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index page</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/core.css" rel="stylesheet" type="text/css">


</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>
            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                <li>
                    <a class="sidebar-mobile-main-toggle">
                        <i class="fa fa-align-justify" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse pd-0" id="navbar-mobile">
            <ul class="nav navbar-nav para-jus">
                <li>
                    <a class="sidebar-control sidebar-main-toggle hidden-xs">
                        <i class="fa fa-align-justify" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown user-message">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-comments-o"></i>
                        <span class="visible-xs-inline-block position-right">Messages</span>
                        <span class="badge bg-warning-400">2</span>
                    </a>

                    <div class="dropdown-menu dropdown-message dropdown-content width-350">
                        <div class="dropdown-content-heading">
                            Messages
                            <ul class="icons-list">
                                <li><a href="#"><i class="fa fa-pencil-square-o"></i></a></li>
                            </ul>
                        </div>
                        <ul class="media-list dropdown-content-body">
                            <li class="media">
                                <div class="media-left">
                                    <img alt="" class="img-circle img-sm" src="images/placeholder.jpg">
                                </div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">James Alexander</span>
                                        <span class="media-annotation message-time">04:58</span>
                                    </a>
                                    <span class="text-muted message-description">who knows, maybe that would be the best thing for me...</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <img alt="" class="img-circle" src="images/placeholder.jpg">

                                </div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-n">Margo Baker</span>
                                        <span class="media-annotation message-time">12:16</span>
                                    </a>
                                    <span class="text-muted message-description">That was something he was unable to do because...</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left"><img alt="" class="img-circle img-sm" src="images/placeholder.jpg"></div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">Jeremy Victorino</span>
                                        <span class="media-annotation message-time">22:48</span>
                                    </a>
                                    <span class="text-muted message-description">But that would be extremely strained and suspicious...</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left"><img alt="" class="img-circle img-sm" src="images/placeholder.jpg"></div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">Beatrix Diaz</span>
                                        <span class="media-annotation message-time">Tue</span>
                                    </a>
                                    <span class="text-muted message-description">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left"><img alt="" class="img-circle img-sm" src="images/placeholder.jpg"></div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">Beatrix Diaz</span>
                                        <span class="media-annotation message-time">Tue</span>
                                    </a>
                                    <span class="text-muted message-description">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left"><img alt="" class="img-circle img-sm" src="images/placeholder.jpg"></div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">Beatrix Diaz</span>
                                        <span class="media-annotation message-time">Tue</span>
                                    </a>
                                    <span class="text-muted message-description">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left"><img alt="" class="img-circle img-sm" src="images/placeholder.jpg"></div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">Beatrix Diaz</span>
                                        <span class="media-annotation message-time">Tue</span>
                                    </a>
                                    <span class="text-muted message-description">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left"><img alt="" class="img-circle img-sm" src="images/placeholder.jpg"></div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold user-name">Beatrix Diaz</span>
                                        <span class="media-annotation message-time">Tue</span>
                                    </a>
                                    <span class="text-muted message-description">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>
                        </ul>
                        <div class="dropdown-content-footer">
                            <a title="" data-popup="tooltip" href="#" data-original-title="All messages"><i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i>&nbsp;<i class="fa fa-circle"></i></a>
                        </div>
                    </div>
                </li>
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="images/placeholder.jpg" alt="">
                        <span>Victoria</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="fa fa-user"></i> My profile</a></li>
                        <li><a href="#"><i class="fa fa-money"></i> My balance</a></li>
                        <li><a href="#"><i class="fa fa-commenting"></i> Messages</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Account settings</a></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="page-container">
        <div class="page-content">
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">

                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="#" class="media-left"><img src="images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">Victoria Baker</span>
                                    <div class="text-size-mini text-muted">
                                        <i class="fa fa-map-marker"></i> &nbsp;Santa Ana, CA
                                    </div>
                                </div>
                                <div class="media-right media-middle">
                                    <ul class="icons-list">
                                        <li>
                                            <a href="#"><i class="fa fa-cog"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content pd-0">
                            <ul class="navigation navigation-main navigation-accordion">

                                <li class="active"><a href="#"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>

                                <li><a href="#"><i class="fa fa-files-o"></i><span>Page layouts</span></a></li>

                                <li><a href="#"><i class="fa fa-file-o"></i><span>Layouts</span></a></li>

                                <li><a href="#"><i class="fa fa-adjust"></i><span>Color system</span></a></li>

                                <li>
                                    <a href="#"><i class="fa fa-clone"></i><span>Starter kit</span></a>
                                    <ul>
                                        <li><a href="#">Horizontal navigation</a></li>
                                        <li><a href="#">1 column</a></li>
                                        <li><a href="#">2 columns</a></li>
                                    </ul>
                                </li>


                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="content-wrapper">
                <h1 class="main-heading">
                    Welcome to the Admin Panel of Shaligram Infotech
                </h1>
                <div class="col-sm-12 mb-20">
                    <div class="col-sm-3 col-xs-12">
                        <div class="admin_dashbord users">
                            <div class="dashboard_icon">
                                <i class="fa fa-group"></i>
                            </div>
                            <div class="admin_dashboard_content">
                                <h3 class="admin_dashboard_header">Users</h3>
                                <p>230 <i class="fa fa-bar-chart pl-5"></i></p>
                            </div>
                        </div>
                        <div class="more_info">
                            <a href="#">More info <i class="fa fa-chevron-circle-right pl-5"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="admin_dashbord tasks">
                            <div class="dashboard_icon">
                                <i class="fa fa-tasks"></i>
                            </div>
                            <div class="admin_dashboard_content">
                                <h3 class="admin_dashboard_header pt-20">Tasks</h3>
                                <p>10 <i class="fa fa-pie-chart pl-5"></i></p>
                            </div>
                        </div>
                        <div class="more_info">
                            <a href="#">More info <i class="fa fa-chevron-circle-right pl-5"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="admin_dashbord alerts">
                            <div class="dashboard_icon">
                                <i class="fa fa-bell"></i>
                            </div>
                            <div class="admin_dashboard_content">
                                <h3 class="admin_dashboard_header pt-20">Alerts</h3>
                                <p>9 New</p>
                            </div>
                        </div>
                        <div class="more_info">
                            <a href="#">More info <i class="fa fa-chevron-circle-right pl-5"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="admin_dashbord projects">
                            <div class="dashboard_icon">
                                <i class="fa fa-file-text"></i>
                            </div>
                            <div class="admin_dashboard_content">
                                <h3 class="admin_dashboard_header pt-20">Projects</h3>
                                <p>230 <i class="fa fa-line-chart pl-5"></i></p>
                            </div>
                        </div>
                        <div class="more_info">
                            <a href="#">More info <i class="fa fa-chevron-circle-right pl-5"></i></a>
                        </div>
                    </div>

                </div>

                <div class="content-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <legend>Search</legend>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="dropdown">
                                <label for="inputlg">Project Type : </label>
                                <button class="btn btn-default full-width dropdown-toggle drop-dwn" type="button" data-toggle="dropdown">
                                    <p>Project Type</p>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu drop-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="dropdown">
                                <label for="inputlg">Priority : </label>
                                <button class="btn btn-default full-width dropdown-toggle drop-dwn" type="button" data-toggle="dropdown">
                                    <p>Priority</p>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu drop-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-3">
                            <div class="dropdown">
                                <label for="inputlg">Client : </label>
                                <button class="btn btn-default full-width dropdown-toggle drop-dwn" type="button" data-toggle="dropdown">
                                    <p>Client</p>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu drop-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-3">
                            <div class="dropdown">
                                <label for="inputlg">Project Status : </label>
                                <button class="btn btn-default full-width dropdown-toggle drop-dwn" type="button" data-toggle="dropdown">
                                    <p>Project Status</p>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu drop-menu">
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-6 mt-10">
                            <label>Text To Search : </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-6 text-right mt-30">
                            <button class="btn-blue" type="submit">Apply Filter</button>
                            <button class="btn-blue" type="submit">Reset</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="admin-search">
                                <h4>Content Box</h4>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="alert alert-success">
                                <strong>Success Message!</strong> Indicates a successful or positive action.
                            </div>
                            <div class="alert alert-danger">
                                <strong>Error message!</strong> Indicates a dangerous or potentially negative action.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th class="text-center blue" align="center">
                                                <input type="checkbox" id="checkbox1" />
                                                <label for="checkbox1" class="checkboc-label"></label>
                                            </th>
                                            <th>Property Time</th>
                                            <th>Summary</th>
                                            <th>Status</th>
                                            <th>Type</th>
                                            <th>Priority</th>
                                            <th>Est Time</th>
                                            <th>work Time</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center" class="blue">

                                                <input type="checkbox" id="checkbox2" />
                                                <label for="checkbox2" class="checkboc-label"></label>

                                            </td>
                                            <td>Property Description will display here..</td>
                                            <td>To Do</td>
                                            <td>Development</td>
                                            <td>Urgent</td>
                                            <td>25/09/2009</td>
                                            <td>25/09/2009</td>
                                            <td>25/09/2009</td>
                                            <td><a href="#"><img src="images/edit.png" alt="edit"><a /><a href="#"><img src="images/delete.png" alt="edit"></a></td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="blue">

                                                <input type="checkbox" id="checkbox3" />
                                                <label for="checkbox3" class="checkboc-label"></label>

                                            </td>
                                            <td>Property Description will display here..</td>
                                            <td>To Do</td>
                                            <td>Development</td>
                                            <td>Urgent</td>
                                            <td>25/09/2009</td>
                                            <td>25/09/2009</td>
                                            <td>25/09/2009</td>
                                            <td><a href="#"><img src="images/edit.png" alt="edit"><a /><a href="#"><img src="images/delete.png" alt="edit"></a></td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="blue">

                                                <input type="checkbox" id="checkbox4" />
                                                <label for="checkbox4" class="checkboc-label"></label>

                                            </td>
                                            <td>Property Description will display here..</td>
                                            <td>To Do</td>
                                            <td>Development</td>
                                            <td>Urgent</td>
                                            <td>25/09/2009</td>
                                            <td>25/09/2009</td>
                                            <td>25/09/2009</td>
                                            <td><a href="#"><img src="images/edit.png" alt="edit"><a /><a href="#"><img src="images/delete.png" alt="edit"></a></td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="blue">

                                                <input type="checkbox" id="checkbox5" />
                                                <label for="checkbox5" class="checkboc-label"></label>

                                            </td>
                                            <td>Property Description will display here..</td>
                                            <td>To Do</td>
                                            <td>Development</td>
                                            <td>Urgent</td>
                                            <td>25/09/2009</td>
                                            <td>25/09/2009</td>
                                            <td>25/09/2009</td>
                                            <td><a href="#"><img src="images/edit.png" alt="edit"><a /><a href="#"><img src="images/delete.png" alt="edit"></a></td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="blue">

                                                <input type="checkbox" id="checkbox6" />
                                                <label for="checkbox6" class="checkboc-label"></label>

                                            </td>
                                            <td>Property Description will display here..</td>
                                            <td>To Do</td>
                                            <td>Development</td>
                                            <td>Urgent</td>
                                            <td>25/09/2009</td>
                                            <td>25/09/2009</td>
                                            <td>25/09/2009</td>
                                            <td><a href="#"><img src="images/edit.png" alt="edit"><a /><a href="#"><img src="images/delete.png" alt="edit"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-sm-12">

                            <ul class="pagination pull-right">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer text-muted">
        &copy; 2015. <a href="#">Shaligram Infotech</a> by <a href="#">Shaligram Infotech</a>
    </div>


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

</body>
</html>
