
<link href="~/Content/css/core.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
<body>
        <div style="padding-top:40px; text-align: center">
          
            <br/>
            <br/>
            <br/>
            <h1 class="text-center" style="text-align:center;color:red"> Access Denied </h1>
           
        </div>
</body>