<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\FXAdminTransferConnex.Business\packages.config" />
  <repository path="..\FXAdminTransferConnex.Common\packages.config" />
  <repository path="..\FXAdminTransferConnex.Data\packages.config" />
  <repository path="..\FXBackOfficeSystem\packages.config" />
</repositories>