<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;|DataDirectory|\aspnet-FX System-20170206031715.mdf&quot;;Initial Catalog=&quot;aspnet-FX System-20170206031715&quot;;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
		<add name="FXBackOfficeSystemEntities" connectionString="metadata=res://*/Databases.FXBackOfficeSystemEntities.csdl|res://*/Databases.FXBackOfficeSystemEntities.ssdl|res://*/Databases.FXBackOfficeSystemEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sit16\viram;initial catalog=FXAdmin-TransferConnex;persist security info=True;user id=sa;password=hr@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--Local-->
		<!--<add name="FXBackOfficeSystemContext" connectionString="Data Source=5.77.39.57,49679;Initial Catalog=FxTransferConnex;Persist Security Info=True;User ID=Krupesh;Password=Satva!UK#@$;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
		<!--Live-->
		<!--<add name="FXBackOfficeSystemContext" connectionString="Data Source=192.168.1.147;Initial Catalog=FXAdmin-TransferConnexLive;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->

		<!--Client Live-->
		<!--<add name="FxBackOfficeSystemContext" connectionString="Data Source=5.9.90.104,1439;initial catalog=FxtransferConnex;Persist Security Info=True;User ID=sa;Password=sit@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--Local-->
    <!--<add name="FXBackOfficeSystemContext" connectionString="inVa4nAFuIf5220vlVIvBILrkkVaKrv+QhJ0VwGHgabQvB0LISHSNrbNpRCQbl6YNRNY6zc0rUj3ikZ/ALekpTQHjySvamh3AiQuwReitC2txSuYdmbYou7MnrH6incEklCJaNH2DhiXem1EPjy53b0KOE6hTZVJlXuz8HD9rU5TAmd5wahuFlAbPlWDBT+kpK8d0gycKR0/I6Ns9ZzJ/H07CwF4M6pa8DMn0Dm5r9I=" providerName="System.Data.SqlClient" />-->
		<!--<add name="FXBackOfficeSystemContext" connectionString="Data Source=5.77.39.57,49679;Initial Catalog=FxTransferConnex;Persist Security Info=True;User ID=Krupesh;Password=Satva!UK#@$;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--Staging-->
    <!--<add name="FXBackOfficeSystemContext" connectionString="Data Source=5.77.39.57,49679;Initial Catalog=FxTransferConnex_Staging;Persist Security Info=True;User ID=sa;Password=$atva123#!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="FXBackOfficeSystemContext" connectionString="2uvm1GAEA8uE6JiagxPXIGsj0OlVqJdv8CjrVSUs/dlBCahiv7ooBqgisHwEdz4s7tP8Xu10vgubuDVPQxwgvcVJQn0L7go2E2VOj4p193IFLfO0IQAoT1m12yvvyCx3aIeV55UEcJ9qBG46XywtKL8dynWjctgqPvKf5nptcH1EAF0HcRR+CuOtRa92moNN0mjJp+yiRACHZEmOGPhr2Vibyecpz6WSU42P8WgA310=" providerName="System.Data.SqlClient" />
    <!--Live-->
    <!--<add name="FXBackOfficeSystemContext" connectionString="Data Source=10.0.0.4,1439;Initial Catalog=FxTransferConnex;Persist Security Info=True;User ID=sa;Password=sit@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="FXBackOfficeSystemContext" connectionString="UK+9Oq+B6TkhVtpp8H/zitH+vE3foaXC7FVKUYUrX+9MSBnAPda5pyhGO8UQNzbPSu7xaVDNMwBOFy0Xxss88g2Z6M3G/CLpJG/WKouajMsJgX0X6ejKCnC+S992F4eXfsLp4KVqxHeBQ4kpyjvMaJ8k9EFZgnB4B/9BV1DIUEDEQfwx+8irXMqjTBjI4VqR+HJAVvsFB5pW6N8NiUu2kw==" providerName="System.Data.SqlClient" />-->

	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="FXBackOfficeSystemUrl" value="http://localhost:62170" />
		<!--OANDA-->
		<!--<add key="Oanda_apiServer" value="http://api-sandbox.oanda.com/" />-->
		<add key="OandaApiServer" value="https://api-fxpractice.oanda.com/" />
		<add key="OandaRestVersion" value="v3" />
		<add key="ExchangeRateKey" value="HISF8EE60Y6FG2AXai4zHrXs" />

		<!--<add key="Email" value="meetings@transferconnex.com" />
    <add key="passsword" value="Cap31784" />
    <add key="HostName" value="smtp.office365.com" />
    <add key="PortNumber" value="587" />-->

    <!--Security-->
    <add key="SecretKey" value="RYdxMPIuVNPqxooKs/1L0kQHe6pTluafKF4qazZichQ=" />

		<add key="Email" value="silverspoon744@gmail.com" />
		<add key="passsword" value="123456789ABC" />
		<add key="HostName" value="smtp.gmail.com" />
		<add key="PortNumber" value="587" />

		<!--TransferCost Value-->
		<add key="CostMultiplier" value="2" />
		<!-- Refresh page Interval Time and Reminder Time difference-->
		<add key="RefreshPageInterval" value="60000" />
		<add key="ReminderTimeDifference" value="15" />
		<!-- Grid Default Page Size-->
		<add key="PageSize" value="10" />

		<!--<add key="CurrencyCloudAPIServer" value="https://devapi.currencycloud.com/v2/" />
    <add key="CurrencyCloudAPIEmail" value="louis.lavers@transferconnex.com" />
    <add key="CurrencyCloudAPIKey" value="fb25325d580c4ab2cddf03ec225feb84caf5927a7e297f5b4d3f350c8186e09f" />-->

		<!--<add key="CurrencyCloudAPIServer" value="https://api.currencycloud.com/v2/" />
		<add key="CurrencyCloudAPIEmail" value="Louis@TCL" />
		<add key="CurrencyCloudAPIKey" value="2a3d2b3b14075ae9fb8d2261bc3291b5ef6b6ded1ca7d1869bd5c177cf8d1267" />

		<add key="CanUpdateGrossCommsGBP" value="admin@info.com,sanjay.s@sgit.in,npatel@satvasoftech.com" />-->

		<add key="tpscheckerEmail" value="npatel@satvasoftech.com" />
		<add key="tpscheckerpasssword" value="Satva123!" />

		<!--<add key="GCPartnerAPIServer" value="https://app.gcpartners.co/Api/" />
		<add key="GCPartnerAPIToken" value="6031:PqC7DoKABMmDtMhi7N6j2q4Z7yrZss08Kr6dHHE" />
		<add key="GCPartnerMarketOrderNotificationTime" value="2" />

		<add key="CCImportDealTime" value="30" />-->
		<!--range 0-59-->

		<add key="EMLFilePath" value="~/EMLFiles/" />
		<add key="EMLNewBlank" value="~/EmailTemplates/TX_NewBlank.html" />
		<add key="EMLTemplate1" value="~/EmailTemplates/TX_template-1.html" />
		<add key="EMLTemplate2" value="~/EmailTemplates/TX_template-2.html" />
		<add key="EMLAttachments1" value="~/EmailTemplates/TXtemplate-1-Attachments/" />
		<add key="EMLAttachments2" value="~/EmailTemplates/TXtemplate-2-Attachments/" />

		<!--<add key="RingCentralAPIServer" value="https://platform.ringcentral.com/restapi/" />
		<add key="RingCentralUserName" value="npatel@satvasoftech.com" />
		<add key="RingCentralPassword" value="Satva123!" />
		<add key="RingCentralExtension" value="303" />
		<add key="RingCentralGrantType" value="password" />-->
		<!--<add key="CallLogImportTimeMinute" value="5" />-->
		<!--range 0-59-->
		<!--<add key="CallLogImportTimeHour" value="2" />-->
		<add key="importRingcentralLogSpecificTime" value="5" />
		<!--range 0-23-->
		<add key="ChatAttachmentFilePath" value="~/ChatAttachmentFiles/" />

		<add key="UserImagePath" value="~/Images/Profiles/" />
	</appSettings>

	<!--For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.-->
	<!--
  <system.Web>
    <httpRuntime targetFramework="4.5" />
  </system.Web>-->

	<system.web>
		<trace enabled="false" />
		<httpRuntime enableVersionHeader="false" maxRequestLength="2147483647" requestLengthDiskThreshold="2147483647" targetFramework="4.5" maxQueryStringLength="32768" maxUrlLength="65536" executionTimeout="3600" />
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.5" />
		<globalization uiCulture="en-GB" culture="en-GB" enableClientBasedCulture="true" />
		<pages buffer="true" enableViewState="false" controlRenderingCompatibilityVersion="4.0" />
		<sessionState mode="InProc" cookieless="false" timeout="60" />

	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<directoryBrowse enabled="true" />
		<!--<staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      
    </staticContent>-->
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<!--<log4net>
    <appender name="ADONetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=192.168.1.147;initial catalog=FXBackOfficeSystem;user id=sa;password=123;Connection Timeout=360" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, 'API-'+@log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%t" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="512" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%p" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="512" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%c" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%m" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ADONetAppender" />
    </root>
  </log4net>-->
</configuration>