<span onclick="SelectEmoji(this, '128512;')">&#128512;</span>
<span onclick="SelectEmoji(this, '128513;')">&#128513;</span>
<span onclick="SelectEmoji(this, '128514;')">&#128514;</span>
<span onclick="SelectEmoji(this, '128515;')">&#128515;</span>
<span onclick="SelectEmoji(this, '128516;')">&#128516;</span>
<span onclick="SelectEmoji(this, '128517;')">&#128517;</span>
<span onclick="SelectEmoji(this, '128518;')">&#128518;</span>
<span onclick="SelectEmoji(this, '128519;')">&#128519;</span>
<span onclick="SelectEmoji(this, '128520;')">&#128520;</span>
<span onclick="SelectEmoji(this, '128521;')">&#128521;</span>
<span onclick="SelectEmoji(this, '128522;')">&#128522;</span>
<span onclick="SelectEmoji(this, '128523;')">&#128523;</span>
<span onclick="SelectEmoji(this, '128524;')">&#128524;</span>
<span onclick="SelectEmoji(this, '128525;')">&#128525;</span>
<span onclick="SelectEmoji(this, '128526;')">&#128526;</span>
<span onclick="SelectEmoji(this, '128527;')">&#128527;</span>
<span onclick="SelectEmoji(this, '128528;')">&#128528;</span>
<span onclick="SelectEmoji(this, '128529;')">&#128529;</span>
<span onclick="SelectEmoji(this, '128530;')">&#128530;</span>
<span onclick="SelectEmoji(this, '128531;')">&#128531;</span>
<span onclick="SelectEmoji(this, '128532;')">&#128532;</span>
<span onclick="SelectEmoji(this, '128533;')">&#128533;</span>
<span onclick="SelectEmoji(this, '128534;')">&#128534;</span>
<span onclick="SelectEmoji(this, '128535;')">&#128535;</span>
<span onclick="SelectEmoji(this, '128536;')">&#128536;</span>
<span onclick="SelectEmoji(this, '128537;')">&#128537;</span>
<span onclick="SelectEmoji(this, '128538;')">&#128538;</span>
<span onclick="SelectEmoji(this, '128539;')">&#128539;</span>
<span onclick="SelectEmoji(this, '128540;')">&#128540;</span>
<span onclick="SelectEmoji(this, '128541;')">&#128541;</span>
<span onclick="SelectEmoji(this, '128542;')">&#128542;</span>
<span onclick="SelectEmoji(this, '128543;')">&#128543;</span>
<span onclick="SelectEmoji(this, '128544;')">&#128544;</span>
<span onclick="SelectEmoji(this, '128545;')">&#128545;</span>
<span onclick="SelectEmoji(this, '128546;')">&#128546;</span>
<span onclick="SelectEmoji(this, '128547;')">&#128547;</span>
<span onclick="SelectEmoji(this, '128548;')">&#128548;</span>
<span onclick="SelectEmoji(this, '128549;')">&#128549;</span>
<span onclick="SelectEmoji(this, '128550;')">&#128550;</span>
<span onclick="SelectEmoji(this, '128551;')">&#128551;</span>
<span onclick="SelectEmoji(this, '128552;')">&#128552;</span>
<span onclick="SelectEmoji(this, '128553;')">&#128553;</span>
<span onclick="SelectEmoji(this, '128554;')">&#128554;</span>
<span onclick="SelectEmoji(this, '128555;')">&#128555;</span>
<span onclick="SelectEmoji(this, '128556;')">&#128556;</span>
<span onclick="SelectEmoji(this, '128557;')">&#128557;</span>
<span onclick="SelectEmoji(this, '128558;')">&#128558;</span>
<span onclick="SelectEmoji(this, '128559;')">&#128559;</span>
<span onclick="SelectEmoji(this, '128560;')">&#128560;</span>
<span onclick="SelectEmoji(this, '128561;')">&#128561;</span>
<span onclick="SelectEmoji(this, '128562;')">&#128562;</span>
<span onclick="SelectEmoji(this, '128563;')">&#128563;</span>
<span onclick="SelectEmoji(this, '128564;')">&#128564;</span>
<span onclick="SelectEmoji(this, '128565;')">&#128565;</span>
<span onclick="SelectEmoji(this, '128566;')">&#128566;</span>
<span onclick="SelectEmoji(this, '128567;')">&#128567;</span>
<span onclick="SelectEmoji(this, '128577;')">&#128577;</span>
<span onclick="SelectEmoji(this, '128578;')">&#128578;</span>
<span onclick="SelectEmoji(this, '128579;')">&#128579;</span>
<span onclick="SelectEmoji(this, '128580;')">&#128580;</span>
<span onclick="SelectEmoji(this, '129296;')">&#129296;</span>
<span onclick="SelectEmoji(this, '129297;')">&#129297;</span>
<span onclick="SelectEmoji(this, '129298;')">&#129298;</span>
<span onclick="SelectEmoji(this, '129299;')">&#129299;</span>
<span onclick="SelectEmoji(this, '129300;')">&#129300;</span>
<span onclick="SelectEmoji(this, '129301;')">&#129301;</span>
<span onclick="SelectEmoji(this, '129312;')">&#129312;</span>
<span onclick="SelectEmoji(this, '129313;')">&#129313;</span>
<span onclick="SelectEmoji(this, '129314;')">&#129314;</span>
<span onclick="SelectEmoji(this, '129315;')">&#129315;</span>
<span onclick="SelectEmoji(this, '129316;')">&#129316;</span>
<span onclick="SelectEmoji(this, '129317;')">&#129317;</span>
<span onclick="SelectEmoji(this, '129319;')">&#129319;</span>
<span onclick="SelectEmoji(this, '129320;')">&#129320;</span>
<span onclick="SelectEmoji(this, '129321;')">&#129321;</span>
<span onclick="SelectEmoji(this, '129322;')">&#129322;</span>
<span onclick="SelectEmoji(this, '129323;')">&#129323;</span>
<span onclick="SelectEmoji(this, '129324;')">&#129324;</span>
<span onclick="SelectEmoji(this, '129325;')">&#129325;</span>
<span onclick="SelectEmoji(this, '129326;')">&#129326;</span>
<span onclick="SelectEmoji(this, '129327;')">&#129327;</span>
<span onclick="SelectEmoji(this, '129488;')">&#129488;</span>